/**
 * This file is part of agora-gui-elections.
 * Copyright (C) 2015-2016  Agora Voting SL <agora@agoravoting.com>

 * agora-gui-elections is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License.

 * agora-gui-elections  is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License
 * along with agora-gui-elections.  If not, see <http://www.gnu.org/licenses/>.
**/

angular.module('avAdmin').run(function(AdminPlugins) {
    // Adding to the sidebar params:
    // name, icon-name (fa), head or sub, text to show
    AdminPlugins.add("test", "check", true, "testplugin.text");

    var p = {
             name: 'test',
             head: true,
             link: 'admin.test',
             directive: 'test',
             menu: {
                icon: 'check', text: 'testplugin.text'
             }
            };

    AdminPlugins.add(p);
});

// Using the admin controller to get the topbar and the sidebar
// The state name should be admin.NAME
angular.module('agora-gui-elections').config(
  function($stateProvider) {
    $stateProvider
      .state('admin.test',
        { url: '/test',
          templateUrl: 'avAdmin/admin-controller/admin-controller.html',
          controller: 'AdminController'
        });
  });

// Custom directive, the name should be avPluginNAME and here we can put the magic
angular.module('avAdmin')
  .directive('avPluginTest', function() {
    function link(scope, element, attrs) {
    }

    return {
      restrict: 'AEC',
      scope: {
      },
      link: link,
      template: '<h1 ng-i18next>testplugin.header</h1>'
    };
  });
