 .img-option{
    max-width: 150px;
    max-height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .animate-if{
      padding-left: 15px;
  }
  
  .animate-if.ng-enter, .animate-if.ng-leave{
      transition:all cubic-bezier(0.250,0.460, 0.450, 0.940) 0.5s; 
  }
  
  .animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active{
      opacity: 0;
  }
  
  .animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active{
      opacity: 1;
  }
  
  .nbutton{
      position: relative;
      padding: 0.3em 1em;
      border: 2px solid;
      color: #ffffff!important;
      background: #00a489;
      display: inline-block;
  }
