[av-admin-question] {
  .question {
    padding: 0;
    background-color: @av-bg;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.3s linear all;

    .q-title {
      padding: 10px 15px;
      margin: 0;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background-color: darken(@av-bg, 6%);
      }

      .fa {
        font-style: normal;
        font-weight: bold;
      }

      > .col-sm-10, > .col-sm-2 {
        padding: 0;
      }
    }

    .input-group.col-xs-2 {
      float: left;
      min-width: 140px;
    }

    .input-error > span.error {
      margin-top: 5px;
      display: inline-block;
    }

    .buttons i {
        cursor: pointer;
    }

    .qform {
        margin-top: 10px;
        padding: 0 8px;
    }

    .newopt {
        padding: 0px;
    }

    label {
        text-align: right;
    }

    .form-group {
        margin-top: 10px;
    }

    [dnd-list], [dnd-list] > div {
      position: relative;
    }

    [dnd-list] {
      /**
       * The dnd-list should always have a min-height,
       * otherwise you can't drop to it once it's empty
       */
      min-height: 42px;
      margin-right: -28px;

      /**
       * The dndDraggingSource class will be applied to
       * the source element of a drag operation. It makes
       * sense to hide it to give the user the feeling
       * that he's actually moving it.
       */
      .dndDraggingSource {
        display: none;
      }

      /**
       * An element with .dndPlaceholder class will be
       * added to the dnd-list while the user is dragging
       * over it.
       */
      .dndPlaceholder {
        display: block;
        background-color: @gray-light;
        min-height: 42px;
      }
    }
  }
}