<nav class="navbar navbar-admin adminhead navbar-fixed-top" av-affix-top=".navbar-unfixed-top" role="navigation">
    <div class="no-hpadding" ng-class="{'container-fluid': admin, 'container': !admin}">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div
        class="navbar-collapse"
        id="navbar-collapse-1"
      >
        <div class="container">
          <div class="row avb-top-navbar">
            <div class="col-xs-12 col-sm-4" ng-if="election.logo_url">
              <span >
                <img
                  alt="{{election.title}}"
                  class="logo-img" 
                  ng-src="{{election.logo_url}}"
                />
              </span>
            </div>
            <div
              class="col-xs-12 col-sm-6"
              ng-if="!election.logo_url"
            >
              <span ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy">
              </span>
            </div>
            <div
              class="hidden-xs col-sm-4 text-center center-col"
              ng-if="election.logo_url"
            >
              <span ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy">
              </span>
            </div>
            <div
              class="col-xs-12 text-right"
              ng-class="{'col-sm-4': !!election.logo_url, 'col-sm-6': !election.logo_url}"
            >
              <a
                ng-if="!!configService.mainVersion"
                target="_top"
                tabindex="0"
                class="config-version"
                ng-click="showVersionsModal()"
                ng-i18next="[i18next]({version: configService.mainVersion})avCommon.showVersion"
              >
              </a>
              <span
                ng-if="!!buttonsInfo"
                ng-repeat="q in buttonsInfo"
              >
                <a
                  href="{{ q.link }}"
                  target="_blank"
                  class="{{ q.class }}"
                >
                  <img
                    class="social-img"
                    ng-src="{{ q.img }}"
                    alt="{{ q.network }}"
                  />
                  {{ q.button_text|truncate:25 }}
                </a>
              </span>

              <span
                class="dropdown"
                role="menuitem"
                av-change-lang
              >
              </span>
            </div>
          </div>
        </div>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid background first">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 top-section">
        <h1 class="text-center election-title">
          {{ election.presentation && election.presentation.extra_options && election.presentation.extra_options.public_title || election.title}}
        </h1>
        
        <p
          class="election-description"
          ng-bind-html="election.description | addTargetBlank"
          ng-if="name().indexOf('home') !== -1">

        </p>

        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
              <a
                ng-if="name().indexOf('home') !== -1 && (electionState === 'started' || electionState === 'resumed') && authEvent.census === 'open' && !election.presentation.show_login_link_on_home && authEvent.auth_method !== 'openid-connect'"
                class="btn btn-block btn-lg btn-transparent vote-btn"
                ui-sref="election.public.show.register({id: election.id})"
                ng-i18next="avElection.public.voteLink">
              </a>
              <a
                ng-if="name().indexOf('home') !== -1 && (electionState === 'started' || electionState === 'resumed') &&  (authEvent.auth_method == 'openid-connect' || authEvent.census !== 'open' && election.presentation.show_login_link_on_home)"
                class="btn btn-block btn-lg btn-transparent vote-btn"
                ui-sref="election.public.show.login({id: election.id})"
                ng-i18next="avElection.public.voteLink">
              </a>
              <a
                ng-if="name().indexOf('home') !== -1 && (electionState === 'started' || electionState === 'resumed') && authEvent.census !== 'open' && election.presentation.show_login_link_on_home"
                class="btn btn-block btn-lg btn-transparent vote-btn"
                href="/election/{{election.id}}/public/login"
                ng-i18next="avElection.public.voteLink">
              </a>
            </div>
          </div>
        </div>
        <div ave-election-links></div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid background">
  <div class="container">
    <div class="row">
      <div ui-view></div>
    </div>
  </div>
</div>

<div av-foot class="hidden-xs" ng-if="name().indexOf('login') === -1">
</div>
