<div class="absolute-full-screen">
    <div class="full-height-container">
        <div class="header-container">
            <div class="col-xs-12 col-sm-6">
                <span ng-if="election.logo_url">
                  <img
                    alt="{{election.title}}"
                    class="logo-img" 
                    ng-src="{{election.logo_url}}"
                  />
                </span>
            </div>
            <div class="col-xs-12 col-sm-6 header-right">
                <span
                  ng-if="!!buttonsInfo"
                  ng-repeat="q in buttonsInfo"
                >
                  <a
                    href="{{ q.link }}"
                    target="_blank"
                    class="{{ q.class }}"
                  >
                    <img
                      class="social-img"
                      ng-src="{{ q.img }}"
                      alt="{{ q.network }}"
                    />
                    {{ q.button_text|truncate:25 }}
                  </a>
                </span>
                <span
                    class="dropdown pull-right"
                    role="menuitem"
                    av-change-lang
                >
                </span>
            </div>
        </div>
        <div class="container-fluid background">
            <div class="container">
                <div class="row">
                    <div ui-view></div>
                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="hidden-xs col-sm-4"></div>
            <div class="col-xs-12 col-sm-4">
                <span ng-i18next="[html:i18next]({url: organization.orgUrl, name: organization.orgName})avCommon.poweredBy">
                </span>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a
                    ng-if="!!configService.mainVersion"
                    target="_top"
                    tabindex="0"
                    class="config-version"
                    ng-click="showVersionsModal()"
                    ng-i18next="[i18next]({version: configService.mainVersion})avCommon.showVersion"
                >
                </a>
            </div>
        </div>
    </div>
</div>