<!-- top navbar with question title -->
<nav class="navbar navbar-default navbar-fixed-top" av-affix-top=".navbar-unfixed-top" role="navigation">
  <div class="container">
    <div class="row avb-top-navbar">
      <div class="pull-right">
        <span
          class="glyphicon glyphicon-remove-sign"
          ng-click="backFromHelp()">
        </span>
        <span class="dropdown left-padding" av-change-lang>
      </div>
    </div>
  </div>
</nav>

<div class="wrapper-unfixed">
  <div class="navbar-unfixed-top text-center" av-collapsing=".unfixed-top-height" data-toggle-selector="[avb-help-screen] #avb-toggle">
    <div class="container">
      <div class="hidden unfixed-top-height"></div>
      <h1 ng-i18next="avBooth.helpTitle"></h1>
      <p ng-i18next="avBooth.helpText"></p>
    </div>
  </div>
</div>

<div id="avb-toggle" class="text-center item-block hidden">
  <span class="glyphicon glyphicon-play"></span>
</div>

<div class="content avb-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div ng-bind-html="helpInfo">
        </div>
<!--        <p ng-i18next>avBooth.relatedLinksText</p>
        <ul>
          <li>
            <a href="#/election/{{election.id}}/public/view/faqs.html" target="_blank" ng-i18next>avElection.public.faqsLink</a>
          </li>
          <li>
            <a href="#/election/{{election.id}}/public/authorities" target="_blank" ng-i18next>avElection.public.authoritiesLink</a>
          </li>
          <li>
            <a href="#/election/{{election.id}}/public/view/overview.html" target="_blank" ng-i18next>avElection.public.overviewLink</a>
          </li>
          <li>
            <a href="/election/{{election.id}}/public/view/tech_overview.pdf" target="_blank" ng-i18next>avElection.public.technicalOverviewLink</a>
          </li>-->
        </ul>
      </div>
    </div>

    <!-- go back button -->
    <div class="row hidden" ng-cloak av-affix-bottom data-force-affix-width="768">
      <button
        class="btn btn-block btn-lg btn-success btn-plain"
        ng-i18next="avBooth.goBack"
        ng-click="backFromHelp()">
      </button>
    </div>
  </div>
</div>
