<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[form.passwordText.$dirty && form.passwordText.$invalid]">
    <label for="passwordText" class="control-label col-sm-4">
        <span ng-i18next="avRegistration.passwordLabel"></span>
    </label>
    <div class="col-sm-8">
        <input type="password" class="form-control" ng-model="field.value" id="passwordText"  ng-disabled="field.disabled"
                ng-i18next="[placeholder]avRegistration.passwordPlaceholder" tabindex="{{index}}" required />
        <p class="help-block">
          <a href="#" ng-i18next="avRegistration.forgotPassword" ng-click="forgotPassword()" tabindex="{{index+1}}"></a>
        </p>
        <div class="input-error">
            <small
              class="error text-danger"
              ng-show="form.$submitted && form.$invalid"
              ng-i18next="avRegistration.invalidCredentials"></small>
        </div>
    </div>
</div>
