[avb-encrypting-ballot-screen] {
  .avb-busy-percent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background-color: @gray-lighter;
  }

  .avb-busy-title {
    width: 100%;
    min-height: 45px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    color: black;
    font-size: 14pt;
    line-height: 16pt;
    padding: 10px;
  }

  @media (min-width: 400px) {
    .avb-busy-title {
      max-width: 350px;
    }
  }

  .avb-busy-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -30px;
      margin-left: -30px;
      width: 60px;
      height: 60px;
      border-radius: 7px;
      background-image: url('@{imgdir}/loading.gif');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
  }
}
