<div class="dropdown">
  <a
    class="dropdown-toggle"
    data-toggle="dropdown"
    aria-expanded="false">
    <span ng-i18next>
      [i18next]{{filterI18n}}
    </span>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <div class="block" ng-click="$event.preventDefault(); $event.stopPropagation()">
        <span ng-i18next class="spaced">
          avAdmin.columnFilter.sort
        </span>
        <div class="btn-group">
          <label class="btn btn-default" ng-model="filter.sort" btn-radio="''">
            <span ng-i18next>
              avAdmin.columnFilter.noSort
            </span>
          </label>
          <label class="btn btn-default" ng-model="filter.sort" btn-radio="'desc'">
            <i class="fa fa-sort-amount-desc"></i>
            <span ng-i18next>
              avAdmin.columnFilter.sortDesc
            </span>
          </label>
          <label class="btn btn-default" ng-model="filter.sort" btn-radio="'asc'">
            <i class="fa fa-sort-amount-asc"></i>
            <span ng-i18next>
              avAdmin.columnFilter.sortAsc
            </span>
          </label>
        </div>
      </div>
      <div class="block" ng-click="$event.preventDefault(); $event.stopPropagation()">
        <span class="spaced" ng-i18next>
          avAdmin.columnFilter.filter
        </span>
        <div class="btn-group">
          <label class="btn btn-default" ng-model="filter.value" btn-radio="''">
            <span ng-i18next>
              avAdmin.columnFilter.noFilter
            </span>
          </label>
          <label class="btn btn-default" ng-model="filter.value" btn-radio="'true'">
            <i class="fa fa-check"></i>
            <span ng-i18next>
              [i18next]{{filterI18nYes}}
            </span>
          </label>
          <label class="btn btn-default" ng-model="filter.value" btn-radio="'false'">
            <i class="fa fa-times"></i>
            <span ng-i18next>
                [i18next]{{filterI18nNo}}
            </span>
          </label>
        </div>
      </div>
    </li>
  </ul>
</div>