<div class="col-xs-12 col-sm-6 team-title-wrapper">
  <div
    class="team-title"
    ng-click="toggleTeam(team)">
    {{team.title}}
    <div class="show-remove">
      <span ng-i18next="avBooth.removeSelectedItem"></span>
      <span class="glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <button
    class="btn btn-default btn-right"
    ng-class="{'in': team.isOpen0}"
    ng-click="toggleOpen(team)">
    <span ng-i18next="avBooth.dropdownOptionView">
    </span>
    <span
      class="glyphicon"
      ng-class="{'glyphicon-chevron-up': team.isOpen0, 'glyphicon-chevron-down': !team.isOpen0}">
    </span>
  </button>
</div>
<div
  class="col-xs-11 col-sm-offset-0 col-sm-{{6 / groupQuestions.length}}"
  avb-pcandidates-cell="{{$index}}"
  ng-repeat="question in groupQuestions"
  ng-class="{'empty-cell': team.options[$index].length === 0}">
</div>