[av-booth], .basic-booth-layout {
  .avb-content > .container {
    padding: 0;

    > .row {
      margin: 0;

      > .col-xs-12, > .col-sm-6 {
        padding: 0;
      }
    }
  }

  .padded {
    padding: 0 15px !important;
  }

  .padded-left {
    padding-left: 15px !important;
  }
  .padded-top {
    padding-top: 15px !important;
  }

  .padded-right {
    padding-right: 15px !important;
  }

  .navbar-fixed-top {
    border: none;
    background-color: @av-primary;
    color: @btn-primary-color;
    padding: 5px;
    min-height: 30px;
  }

  .avb-top-navbar {
    margin-top: -3px;

    a {
      color: white;

      &:hover {
        color: white;
      }
    }

    span {
      cursor: pointer;
    }

    .glyphicon {
      cursor: pointer;
    }
  }

  .unfixed-top-height {
    max-height: 150px;
  }

  .navbar-unfixed-top {
    border: none;
    background-color: @av-primary;
    color: @btn-primary-color;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    padding: 5px;
    transition: all .8s ease;

    &.collapsed {
      max-height: 150px;
      overflow-y: hidden;
    }

    h1 {
      margin-top: 0;
    }
  }

  .wrapper-unfixed:after {
    display: block;
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 30px;
    content: " ";
    background: linear-gradient(to bottom, fade(@av-primary, 0%) 0%, @av-primary 100%);
  }

  #avb-toggle {
    z-index: 101;
    margin-top: -50px;
    width: 100%;
    margin-bottom: 30px;
  }

  #avb-toggle span {
    color: white;
    cursor: pointer;
    transform: rotate(90deg);
  }

  .avb-toggle-span {
    cursor: pointer;
    transform: rotate(90deg);
  }

  #avb-toggle.in span, .avb-toggle-span.in {
    transform: rotate(-90deg);
  }

  .avb-content {
    margin-top: -30px;
    padding-top: 15px;
  }

  .start-screen {
    h3 {
      margin-top: 0;
    }
  }

  .affix-bottom {
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .warning-demo {
    background-color: @btn-warning-bg;
    color: @av-primary-contrast;
    color: white;
    margin-top: -30px;
    padding-top: 10px;
    margin-bottom: 30px;
  }

  .warnings {
    .text-brand-warning {
      display: inline-block;
      background-color: @btn-warning-bg;
      color: @av-primary-contrast;

      &.flashing, &.flashing-out {
        transition: color .4s ease, background-color .4s ease;
      }

      &.flashing {
        color: @btn-warning-bg !important;
        background-color: @av-primary-contrast !important;
      }
    }

    .text-brand-primary {
      display: inline-block;
      background-color: @btn-primary-bg;
      color: @av-primary-contrast;

      &.flashing, &.flashing-out {
        transition: color .4s ease, background-color .4s ease;
      }

      &.flashing {
        color: @btn-primary-bg !important;
        background-color: @av-primary-contrast !important;
      }
    }
  }
}

@media(min-width: @screen-sm-min) {
  av-booth .avb-top-navbar {
    margin-top: 5px;
  }
}
