<div av-recompile="stateChange">
  <div avb-busy ng-if="state == stateEnum.receivingElection">
    <p ng-i18next="avBooth.loadingElectionTitle"></p>
  </div>
  <div avb-error-screen ng-if="state == stateEnum.errorScreen">
  </div>
  <div avb-help-screen ng-if="state == stateEnum.helpScreen">
  </div>
  <div avb-start-screen ng-if="state == stateEnum.startScreen">
  </div>
  <div avb-multi-question ng-if="state == stateEnum.multiQuestion">
  </div>
  <div avb-pairwise-beta ng-if="state == stateEnum.pairwiseBeta">
  </div>
  <div avb-drafts-election-screen ng-if="state == stateEnum.draftsElectionScreen">
  </div>
  <div avb-pcandidates-election-screen ng-if="state == stateEnum.pcandidatesElectionScreen">
  </div>
  <div avb-conditional-accordion-screen ng-if="state == stateEnum.conditionalAccordionScreen">
  </div>
  <div avb-2questions-conditional-screen ng-if="state == stateEnum['2questionsConditionalScreen']">
  </div>
  <div avb-cast-or-cancel-screen ng-if="state == stateEnum.castOrCancelScreen">
  </div>
  <div avb-audit-ballot-screen ng-if="state == stateEnum.auditBallotScreen">
  </div>
  <div avb-review-screen ng-if="state == stateEnum.reviewScreen">
  </div>
  <div avb-casting-ballot-screen ng-if="state == stateEnum.castingBallotScreen">
  </div>
  <div avb-encrypting-ballot-screen ng-if="state == stateEnum.encryptingBallotScreen">
  </div>
  <div avb-success-screen ng-if="state == stateEnum.successScreen">
  </div>
</div>
