<div class="modal-header dialog-header-warning">
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-warning-sign">
    </span>
    <span class="title" ng-i18next>
      avBooth.confirmNullVote.header
    </span>
    <button type="button" class="close pull-right" ng-click="cancel()">×</button>
  </h4>
</div>
<div class="modal-body">
  <p>
    <span ng-i18next>
      avBooth.confirmNullVote.body
    </span>
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="ok()" ng-i18next>
    avBooth.confirmNullVote.confirm
  </button>
  <button class="btn" ng-click="cancel()" ng-i18next>
    avAdmin.dashboard.modals.cancel
  </button>
</div>