<div class="form-group">
    <label for="input{{index}}" class="control-label col-sm-4" ng-i18next="avRegistration.codeLabel"></label>
    <div class="col-sm-8">
        <input
            type="text"
            class="form-control"
            id="input{{index}}"
            ng-model="field.value"
            ng-disabled="field.disabled"
            tabindex="{{index}}"
            autocomplete="off"
            ng-class="{'filled': form['input' + index].$viewValue.length > 0}"
            minlength="8"
            maxlength="8"
            ng-pattern="codePattern"
            name="input{{index}}"
            ng-i18next="[placeholder]avRegistration.codePlaceholder"
            required />
        <p class="help-block" ng-i18next="avRegistration.codeHelp">
        <p class="help-block code-help">
          <span ng-if="!sendingData && !form['input' + telIndex].$invalid">
            <b ng-i18next="avRegistration.noCodeReceivedQuestion"></b>
            <a
              ng-click="resendAuthCode(field)"
              ng-i18next="avRegistration.sendCodeAgain">
            </a>
          <span>
        </p>
        <div class="input-error">
        </div>
    </div>
</div>
