<div class="admin-controller">
  <div av-admin-head loginrequired>
  </div>

  <div class="container-fluid admin-unfixed-top">
    <div class="row" id="container">
      <div av-admin-sidebar id="sidebar" class="col-sm-3">
      </div>
      <div
        ng-if="noplugin"
        ng-switch="state"
        id="content"
        class="col-sm-9 admin-controller-content">
        <div av-admin-elections ng-switch-when="admin.elections"></div>
        <div av-admin-import ng-switch-when="admin.import"></div>
        <div av-admin-elbasic ng-switch-when="admin.basic"></div>
        <div av-admin-elquestions ng-switch-when="admin.questions"></div>
        <div av-admin-elcensus-config ng-switch-when="admin.censusConfig"></div>
        <div av-admin-elcensus ng-switch-when="admin.census"></div>
        <div av-admin-success-action ng-switch-when="admin.successAction"></div>
        <div av-admin-elauth ng-switch-when="admin.auth"></div>
        <div av-admin-eltally ng-switch-when="admin.tally"></div>
        <div av-admin-create ng-switch-when="admin.create"></div>
        <div av-admin-dashboard ng-switch-when="admin.dashboard"></div>
        <div av-admin-account ng-switch-when="admin.account"></div>
        <div av-admin-billinginfo ng-switch-when="admin.billinfo"></div>
        <div av-admin-billinghistory ng-switch-when="admin.billhistory"></div>
      </div>
      <div
        class="col-sm-9 admin-controller-content"
        ng-repeat='template in plugins.list'
        ng-include='template.directive'
        ng-if="shortst == template.name">
      </div>
    </div>
  </div>

  <div av-admin-foot class="hidden-xs">
  </div>
</div>
