.admin-controller {
  #sidebar ul {
    margin-bottom: -999999px;
    padding-bottom: 999999px;
  }

  #container {
    overflow: hidden;
  }

  label {
    text-align: right;
    font-weight: normal;
    font-size: 16px;
  }

  .header-block {
    display: block;
    background-color: @gray-lighter;
    color: @gray;
    padding: 10px;
    margin: 25px 0;

    > .glyphicon {
      font-size: 18px;
    }

    > .pull-right {
      margin-top: -6px;
    }
  }

  .admin-controller-content {
    background-color: @av-primary-contrast;
    min-height: 600px;
  }
}